header {
  background-color: yellow;
}

header h2{
   text-align: inline;
  text-align:center;
  padding-top:.5em;
  
}
img{
  height:100px;
  width:100px;
  padding:1em; 
}

nav{
  background-color:#5EB6D5;
  padding:.05em;
  text-align:center;
}
ul {
  list-style-type: none;  
}

ul a{
  color:black;
  text-decoration:none;
  font-weight:bold; 
}
section p{
  text-align:center;
}

main{
  padding-bottom:1em;
}

footer{
  background-color:#5EB6D5;
  padding:.05em;
  text-align:center;
}
footer a{
  color:black;
  text-decoration:none;

}


@media (min-width:480px) {
	nav ul{
		display:flex;
		flex-direction:horizontal;
		justify-content:space-evenly;
    
	} 
}


@media (min-width:480px) {
	header{
		display:flex;
		flex-direction:horizontal;
		justify-content:space-evenly;
    
    
	} 
}

@media (min-width:480px) {
	header h2{
		display:flex;
		flex-direction:horizontal;
		justify-content:space-evenly;
	} 
}

@media (min-width:480px){
  img{
    display:block;
 
    
  }
}
@media (max-width:480px) {
	nav li{
		padding:.5em;
	} 
}
